.wrapper {
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.flag {
  cursor: pointer;
}

.flag.active {
  outline: 4px solid mediumaquamarine;
  outline-offset: 4px;
  border-radius: 50%;
}