.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;
}

.titleStyle {
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 2rem;
  letter-spacing: 5px;
}

.p {
  max-width: 840px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}

.avatar {
  flex-shrink: 0;
  height: 200px;
  width: 200px;
  border: 3px solid black;
  background-size: 200px;
  border-radius: 50%;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position-y: -30px;
  background-image: url("../../assets/img/smile.jpg");
  filter:saturate(0%);
  transition: filter 250ms ease-in-out;
}
.avatar:hover {
  filter: saturate(100%);
  background-position-x: right 15px;
  background-image: url("../../assets/img/silly.jpg");
}